[Desktop Entry]
Encoding=UTF-8
Name=Tonnage
Comment=Tonnage P2P Cryptocurrency
Comment[fr]=Tonnage, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Tonnage, eşten eşe kriptografik sanal para birimi
Exec=tonnage-qt %u
Terminal=false
Type=Application
Icon=tonnage128
MimeType=x-scheme-handler/tonnage;
Categories=Office;Finance;
